/*
Pallette
#f4f4f4  light grey
#bfbfbf  light-medium grey
#5a5b66  dark grey
#96939b  dark-medium grey
#fc814a  orange

*/

* {
  border: 2px solid blue;
}
body {
  background-color: #f4f4f4;
  font-size: 20px;
  color: #5a5b66;
}
header {
  width: 80%;
  border-radius: 10px;
  position: relative;
  background-color: #bfbfbf;
  text-align: center;
  padding: 10px;
  margin: auto;
}
h1 {
  font-size: 100px;
}
img {
  position: absolute;
  width: 200px;
}
#me {
  top: 15px;
  left: 15px;
}
#diving {
  left: 15px;
  top: 175px;
}
#boat {
  right: 15px;
  top: 15px;
}
#relaxing {
  right: 15px;
  top: 175px;
}
.navigate {
  font-size: 30px;
}
ul {
  margin: 5px auto 5px auto;
  display: inline-block;
  padding: 20px;
  margin: 2px auto;
  font-size: 30px;
}
#education {
  float: right;
}
#experience {
  float: left;
}
li{
  font-size: 20px;
}
div {
  position: relative;
}
section {
  text-align: center;
  float: left;
  width: 60%;
  padding: 5%;
}
aside {
  text-align: center;
  width: 30%;
  float: right;
}
#game {
  font-size: 75px;
}
ol {
  clear: both;
}
