* {
  outline: 1px red solid;
}
body {
  font-size: 20px;
}
header {
  position: relative;
  background-color: yellow;
  text-align: center;
  padding: 10px;
  margin: auto;
}
h1 {
  font-size: 100px;
}
img {
  position: absolute;
  left:10px;
  top: 10px;
  width: 175px;
}
.navigate {
  font-size: 30px;
  display: inline-block;
}
ul li {

  background-color: green;
  margin: 2px auto;
}
div {
  position: relative;
  background-color: orange;
}
section {
  text-align: center;
  float: left;
  width: 60%;
  background-color: grey;
  padding: 5%;
}
aside {
  text-align: center;
  width: 30%;
  float: right;
  background-color: blue;

}
#game {
  font-size: 75px;
}
