
body {
  background-color: #bfaf80;
  font-size: 20px;
}
header {
  width: 80%;
  border-radius: 10px;
  position: relative;
  background-color: #8c6954;
  text-align: center;
  padding: 10px;
  margin: auto;
}
h1 {
  font-size: 100px;
}
img {
  position: absolute;
  width: 200px;
}
#me {
  top: 15px;
  left: 15px;
}
#diving {
  left: 15px;
  top: 175px;
}
#boat {
  right: 15px;
  top: 15px;
}
#relaxing {
  right: 15px;
  top: 175px;
}
.navigate {
  font-size: 30px;

}
ul {
  display: inline-block;

  padding: 20px;
  margin: 2px auto;
  font-size: 30px;
}
ul li{
  font-size: 20px;
}
div {
  position: relative;

}
section {
  text-align: center;
  float: left;
  width: 60%;

  padding: 5%;
}
aside {
  text-align: center;
  width: 30%;
  float: right;


}
#game {
  font-size: 75px;
}
